<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.MemberMapper">
	<select id = "login" parameterType="MemberDTO" resultType="MemberDTO">
		select 
		member_no,
		member_name,
		member_auth,
		team_name
		from member m, team t
		where m.member_team = t.team_no
		and member_id=#{member_id} and member_pw=#{member_pw}
	</select>
	<select id = "find_email" parameterType="MemberDTO" resultType="String">
		select
		member_email
		from member
		where member_email = #{member_email}
	</select>
</mapper>